@font-face {
  font-family: "Inconsolata", monospace;
  src: url("./assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);

  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);

  --gradient-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}

body {
  background-image: url("./assets/images/pattern-squiggly-line-top.svg"),
    url("./assets/images/pattern-lines.svg"),
    url("./assets/images/pattern-circle.svg"),
    url("./assets/images/pattern-squiggly-line-bottom-desktop.svg"),
    url("./assets/images/background-desktop.png");

  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: right top, center top, center right, left bottom,
    center center;
  background-size: auto, cover, auto, auto, cover;

  color: white;
  font-family: "Inconsolata", monospace;
  height: 100vh;
  max-width: 1000px;
  margin: 50px auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

main {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .titulo {
    font-size: 48px;
    text-align: center;
    max-width: fit-content;
    margin: 0 auto;
  }

  .paragrafo {
    color: var(--neutral-300);
    text-align: center;
    font-size: 18px;
    padding: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 10px auto;
    height: 100%;

    .labelText {
      font-size: 22px;
      color: var(--neutral-0);
      margin: 10px 0px;
    }

    .upload-box {
      border: 2px dashed var(--neutral-300);
      border-radius: 10px;
      padding: 20px;
      width: 100%;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .upload-box:hover {
      background-color: var(--neutral-900);
    }

    .upload-icon img {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
    }

    .hidden-input {
      display: none;
    }

    small {
      display: flex;
      align-items: center;
      color: var(--neutral-300);
      padding: 10px 0px;
      gap: 10px;
    }

    .inputForm {
      border: 1px solid var(--neutral-500);
      border-radius: 10px;
      background-color: hsla(245, 19%, 35%, 0.48);
      padding: 20px;
      width: 100%;
      margin: 10px 0px;
      font-size: 18px;
    }

    .inputForm::placeholder {
      color: var(--neutral-500);
    }

    .btnForm {
      padding: 20px;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      width: 100%;
      text-align: center;
      font-weight: 700;
      background-color: var(--orange-500);
      color: var(--neutral-900);
      margin: 10px 0px;
      cursor: pointer;
      transition: background-color ease-in-out 0.2s;
    }

    .btnForm:hover {
      background-color: var(--orange-700);
    }

    .imgFile {
      height: 100px;
    }
  }


  .paiImgTicket {
    background-image: url("./assets/images/pattern-ticket.svg");
    background-repeat: no-repeat;
    
    background-position: center center;

    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .tituloTicket {
    text-align: center;
    max-width: 800px;
    margin: 0px auto;
    font-size: 48px;
  }

  .spanNome {
    color: var(--orange-500);
  }

  .spanEmail {
    color: var(--orange-700);
  }

  .paragrafoTicket {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0px;
    font-size: 18px;
    color: var(--neutral-500);
  }

  .imgTicket {
    width: 20%;
    height: 150px;
    border-radius: 10px;
    object-fit: contain;
  }

  .divPerfilTicket {
    display: flex;
    gap: 10px;
    margin: 10px 20px;
  }

  .dadosPerfilTicket {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .paragrafoGithub {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .TickeLogo {
    padding: 10px;
  }
}

@media (max-width: 1180px) {
  #divFormTicket {
    padding: 20px;
  }

  header {
    margin-bottom: 20px;
  }

  .paiImgTicket{
    border: 1px solid red;
    
  }

  .TickeLogo{
    border: 1px solid yellow;
  }

  .divPerfilTicket{
    border: 1px solid purple;
  }
}
