@font-face {
  font-family: "Inconsolata", monospace;
  src: url("./assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);

  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);

  --gradient-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}

body {
  background-image:
  url("./assets/images/pattern-squiggly-line-top.svg"),
  url("./assets/images/pattern-lines.svg"), 
  url("./assets/images/pattern-circle.svg"),
  url("./assets/images/pattern-squiggly-line-bottom-desktop.svg"),
  url("./assets/images/background-desktop.png");

  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: right top, center top, center right , left bottom, center center;
  background-size: auto, cover, auto, auto, cover;
  
  color: white;
  font-family: "Inconsolata", monospace;
  height: 100vh;
  max-width: 1000px;
  margin: 50px auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

main {
  height: 100%;

  .titulo {
    font-size: 44px;
    text-align: center;
    margin: 0px;
  }

  .paragrafo {
    color: var(--neutral-300);
    text-align: center;
    font-size: 18px;
    padding: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 10px auto;

    .labelText {
      font-size: 22px;
      color: var(--neutral-0);
      margin: 10px 0px;
    }

    .upload-box {
      border: 2px dashed var(--neutral-300);
      border-radius: 10px;
      padding: 20px;
      width: 100%;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .upload-box:hover {
      background-color: var(--neutral-900);
    }

    .upload-icon img {
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
    }

    .hidden-input {
      display: none;
    }

    small {
      display: flex;
      align-items: center;
      color: var(--neutral-300);
      padding: 10px 0px;
      gap: 10px;
    }

    .inputForm{
      border: 1px solid var(--neutral-500);
      border-radius: 10px;
      background-color: hsla(245, 19%, 35%, 0.48);
      padding: 20px;
      width: 100%;
      margin: 10px 0px;
      font-size: 18px;
    }
    
    .inputForm::placeholder{
      color: var(--neutral-500);
    }

    .btnForm{
      padding: 20px;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      width: 100%;
      text-align: center;
      font-weight: 700;
      background-color: var(--orange-500);
      color: var(--neutral-900);
      margin: 10px 0px;
      cursor: pointer;
    }
  }
}
